@import 'tailwindcss';

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.card {
    @apply bg-white rounded-lg shadow-md border-2 border-gray-200;
}

.header {
    @apply sticky top-0 h-16 bg-teal-500 text-white p-4 mb-6 z-10;
}

.main {
    @apply flex h-auto flex-grow  mx-4;
}

.loginContainer {
    @apply flex w-full items-center justify-center;
}

.footer {
    @apply h-20 flex items-center bottom-0 bg-gray-800 text-white p-4 mt-6;
}

.pageTitle {
    @apply text-3xl font-bold text-gray-800 mb-6;
}

.cardTitle {
    @apply text-2xl font-semibold text-gray-800 mb-6;
}

.subtitle {
    @apply text-3xl font-semibold text-gray-800 mb-6;
}

.link {
    @apply text-blue-500 hover:underline cursor-pointer;
}

.disabledLink {
    @apply opacity-50 cursor-not-allowed;
}

.settingsTitle {
    @apply text-xl font-semibold text-gray-800 mb-4;
}

.button {
    @apply flex items-center justify-center py-2 px-4 rounded-md cursor-pointer border-none;
}

/* Button Colors */
.primaryButton {
    @apply bg-blue-600 text-white;
}

.primaryButtonHover {
    @apply hover:bg-blue-500 hover:text-white;
}

.lightGrayButton {
    @apply bg-gray-100 text-gray-800;
}
